body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}



.header{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction:column; 
    border: none;
    block-size: auto;
    background: linear-gradient(to top,#83eef1, #ffffff);
    border-radius: 12px;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.425);
}

.frame{
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(45deg, #ffffff, transparent),
            linear-gradient(120deg, #83eef1, transparent);
    box-shadow: 10px 10px 10px rgba(102, 102, 102, 0.425);
}

.frame:hover{
    transform: rotate(-6deg);
    transition: calc(2s);
}
